.outer-div{
    width:100%;
    height: 120px;
    background-color: rgb(30, 17, 78);
    float: left;
    
}
/* .outer-div:hover{
    background-color: rgb(9, 102, 207);
} */

.contentt{
    height:90px ;
    width:220px ;
    margin: 20px;
    margin-left: 100px;
}

li{
    float: left;
    list-style-type: none;
}
li{
   
    color: white;
    margin: 10px;
    text-decoration: none;
    margin-top: 35px;
    display: block;
}
li:hover{
    color: green;
}
li img{
    height: 25px;
    width: 30px;
    margin-bottom: 60px;
}

.bgi{
    height: 650px;
    width: 100%;
    float: left;
   background-color: black;
   background-image: url(it.jpg);
background-repeat: no-repeat;
background-size: cover;

}
.bg2{
    text-align: center;
    color: white;
    /* margin-bottom: 100px; */
    font-family: arial black;
    margin-top: 300px;
}
.bg3{
    text-align: center;
    color: white;
    font-family: arial black;
    /* margin-bottom: 200px; */
}
.BG4{
   background-color: rgb(41, 41, 240);
   color: white;
   border: 2px solid white;
   height: 40px;
   width: 140px;
   /* margin-bottom: 350px;
    */
margin-left: 550px;
}
.bgr{
    background-color: rgb(104, 201, 112);
   border-bottom: 10px solid blue;
}
.bgr:hover
{
    background-color: blue;
}
.mission{
    height: 300px;
}
.custom-section{
background-image: url("mission\ bg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
.custom-mark{
    display: inline-block;
    height: 50px;
    width: 300px;
    background-color: white;
    color: black;
    font-size: 28px;
    text-align: center;
}
.bluish{
    height: 350px;
    width: 100%;
    float: left;
    background-color: rgb(7, 7, 34);
}
.bluish1{
    width: 35%;
    height: 100%;
    float: left;
   
    

}
.bluish2{
    width: 15%;
    height: 100%;
    float: left;
    
    

}
.bluish3{
    width: 15%;
    height: 100%;
    float: left;
    

}
.bluish4{
    width: 35%;
    height: 100%;
    float: left;

    

}
.web1{
    height: 130px;
    width: 320px;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 90px;
    
}
.com{

color: white;
font-size: 20px;
font-family: arial black;
margin-top: 100px;
text-align: left;
margin-left: 50px;

}
.comm{
    color: aliceblue;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    margin-left: 70px;
}
li.sss{
    float: left;

}
ul.ss{
    list-style-type:none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown,.dropdown-content:hover{
    display: block;
    
  }
  .custom-link{
    color: white;
    text-decoration: none;
  }
  
